:root{
    --primary-color: orange;
    --secondary-color: rgb(167, 109, 2);
    --bg-color: rgb(15, 15, 15);
    --title-color: hsl(228, 8%, 95%);
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    color: white;
}

html{
    scroll-behavior: smooth;
}

body{
    height: 100vh;
    background-color: var(--bg-color);
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
}

.container{
    max-width: 90%;
    margin-inline: 1.5rem;
    margin-right: auto;
    margin-left: auto;
}

.section{
    padding-block: 5rem 2rem;
    padding-top: 6rem;
}

.grid{
    display: grid;
    gap: 1.5rem;
}

.none{
    display: none;
}

.section__title{
    font-size: 40px;
    letter-spacing: 1px;
    margin: 15px 0;
}

.section__subtitle{
    font-size: 30px;
}